{lib_dirs,["/home/akhil/elixir/vchat/_build/prod",
           "/usr/local/lib/elixir/bin/../lib/ex_unit/ebin",
           "/usr/local/lib/elixir/bin/../lib/logger/ebin",
           "/usr/local/lib/elixir/bin/../lib/mix/ebin",
           "/usr/local/lib/elixir/bin/../lib/elixir/ebin",
           "/usr/local/lib/elixir/bin/../lib/eex/ebin",
           "/usr/local/lib/elixir/bin/../lib/iex/ebin"]}.

{release,{vchat,"0.0.1"},[{vchat,"0.0.1"},elixir,iex,sasl]}.

{release,{vchat,"0.0.2"},[{vchat,"0.0.2"},elixir,iex,sasl]}.

{include_erts,true}.

{include_src,false}.

{extended_start_script,true}.

{generate_start_script,false}.

{overlay,[{mkdir,"releases/0.0.2"},
          {copy,"./sys.config","releases/0.0.2/sys.config"},
          {copy,"./boot_shim","bin/vchat"},
          {copy,"./boot_shim.bat","bin/vchat.bat"},
          {copy,"./boot","releases/0.0.2/vchat.sh"},
          {copy,"./boot.bat","releases/0.0.2/vchat.bat"},
          {copy,"/home/akhil/elixir/vchat/_build/prod/consolidated/Elixir.Phoenix.Param.beam",
                "lib/vchat-0.0.2/Elixir.Phoenix.Param.beam"},
          {copy,"/home/akhil/elixir/vchat/_build/prod/consolidated/Elixir.Inspect.beam",
                "lib/vchat-0.0.2/Elixir.Inspect.beam"},
          {copy,"/home/akhil/elixir/vchat/_build/prod/consolidated/Elixir.List.Chars.beam",
                "lib/vchat-0.0.2/Elixir.List.Chars.beam"},
          {copy,"/home/akhil/elixir/vchat/_build/prod/consolidated/Elixir.Collectable.beam",
                "lib/vchat-0.0.2/Elixir.Collectable.beam"},
          {copy,"/home/akhil/elixir/vchat/_build/prod/consolidated/Elixir.Poison.Decoder.beam",
                "lib/vchat-0.0.2/Elixir.Poison.Decoder.beam"},
          {copy,"/home/akhil/elixir/vchat/_build/prod/consolidated/Elixir.Phoenix.HTML.Safe.beam",
                "lib/vchat-0.0.2/Elixir.Phoenix.HTML.Safe.beam"},
          {copy,"/home/akhil/elixir/vchat/_build/prod/consolidated/Elixir.Phoenix.HTML.FormData.beam",
                "lib/vchat-0.0.2/Elixir.Phoenix.HTML.FormData.beam"},
          {copy,"/home/akhil/elixir/vchat/_build/prod/consolidated/Elixir.IEx.Info.beam",
                "lib/vchat-0.0.2/Elixir.IEx.Info.beam"},
          {copy,"/home/akhil/elixir/vchat/_build/prod/consolidated/Elixir.Plug.Exception.beam",
                "lib/vchat-0.0.2/Elixir.Plug.Exception.beam"},
          {copy,"/home/akhil/elixir/vchat/_build/prod/consolidated/Elixir.Poison.Encoder.beam",
                "lib/vchat-0.0.2/Elixir.Poison.Encoder.beam"},
          {copy,"/home/akhil/elixir/vchat/_build/prod/consolidated/Elixir.Ecto.DataType.beam",
                "lib/vchat-0.0.2/Elixir.Ecto.DataType.beam"},
          {copy,"/home/akhil/elixir/vchat/_build/prod/consolidated/Elixir.String.Chars.beam",
                "lib/vchat-0.0.2/Elixir.String.Chars.beam"},
          {copy,"/home/akhil/elixir/vchat/_build/prod/consolidated/Elixir.Ecto.Queryable.beam",
                "lib/vchat-0.0.2/Elixir.Ecto.Queryable.beam"},
          {copy,"/home/akhil/elixir/vchat/_build/prod/consolidated/Elixir.Enumerable.beam",
                "lib/vchat-0.0.2/Elixir.Enumerable.beam"},
          {copy,"/home/akhil/elixir/vchat/_build/prod/consolidated/.compile.protocols",
                "lib/vchat-0.0.2/.compile.protocols"}]}.

